* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Malgun Gothic", "Sans-serif";
}

@font-face {
	font-family: "GmarketSans";
	font-weight: 200;
	src: url("font/GmarketSansBold.woff") format("woff");
}
@font-face {
	font-family: "GmarketSans";
	font-weight: 100;
	src: url("font/GmarketSansMedium.woff") format("woff");
}

.wrap-event {
	width: 100%;
}

.bg-event {
	width: 100%;
	height: 2173px;
	background-color: #f5a3a1;
	text-align: center;
}
.bg-tit {
	width: 100%;
	height: 232px;
	background-color: #faf0ef;
	text-align: center;
}
.wrap-write {
	width: 1200px;
	margin: 0 auto;
	/* background-color: red; */
	padding: 0 80px 100px 80px;
	box-sizing: border-box;
}

h2 {
	font-family: "GmarketSans";
	font-weight: 200;
	font-size: 24px;
	padding: 70px 0 20px 0;
}

.box-agree {
	width: 100%;
	background-color: #eee;
	box-sizing: border-box;
	padding: 30px 50px;
	line-height: 26px;
}

.wrap-chk {
	padding-top: 20px;
}

.wrap-info table {
	border-collapse: collapse;
}
.wrap-info table th {
	width: 200px;
	padding: 10px 0 10px 20px;
	background-color: #000;
	color: #fff;
	border: none;
	font-family: "GmarketSans";
	font-weight: 100;
	font-size: 20px;
	text-align: left;
}

.wrap-info table td {
	width: 1000px;
	padding: 10px 0 10px 20px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.wrap-info table select {
	width: 320px;
	padding: 4px;
}

.wrap-info table label {
	padding-right: 30px;
}

.wrap-info table td.phone input {
	padding: 4px;
	width: 83px;
	text-align: center;
}

.wrap-chklist table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

.wrap-chklist table thead td {
	padding: 10px 0;
	background-color: #000;
	color: #fff;
	font-family: "GmarketSans";
	font-weight: 100;
	font-size: 18px;
	border: 1px solid #000;
}
.wrap-chklist table tbody td {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}
.wrap-chklist table .question {
	text-align: left !important;
	padding-left: 20px;
}
.wrap-btn {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
.wrap-btn button {
	padding: 20px 50px;
	text-align: center;
	background-color: #f5a3a1;
	border: none;
	color: #fff;
	font-family: "GmarketSans";
	font-weight: 200;
	font-size: 20px;
	cursor: pointer;
}

/* 팝업 */

.wrap-layerpop {
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.wrap-layerpop::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.layer {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 450px;
	background: #fff;
	text-align: center;
	padding: 0 0 30px 0;
}
.layer-tit {
	width: 100%;
	padding: 40px 20px;
	background-color: #f5a3a1;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	position: relative;
}
.layer-con {
	padding: 40px 30px 10px 30px;
	line-height: 22px;
	text-align: justify;
}
.layer input {
	width: 200px;
	padding: 7px;
	border: 1px solid #e0e0e0;
	text-align: center;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}
.layer button.border {
	width: 200px;
	padding: 10px 0;
	margin-top: 10px;
}
.layer-close {
	position: absolute;
	cursor: pointer;
	right: 20px;
	top: 20px;
}
.layer-close img {
	width: 20px;
}
.layer-tit .level {
	font-size: 36px;
	font-family: "GmarketSans";
	font-weight: 200;
	padding-top: 15px;
}
