/* tables */
table.tablesorter {
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
}
table.tablesorter .Test1 {
	background-image: url(/assets/admin/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


table.tablesorter tbody td {
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/assets/admin/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/assets/admin/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
